<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.molicloud.mqr.mapper.RobotGroupMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.molicloud.mqr.entity.RobotGroupMember">
        <id column="id" property="id" />
        <result column="gid" property="gid" />
        <result column="mid" property="mid" />
        <result column="gold" property="gold" />
        <result column="hold_plugin" property="holdPlugin" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
